<script lang="ts">
import Vue from 'vue';
import { GilabPackagesTestSample } from '@/entry';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    GilabPackagesTestSample,
  }
});
</script>

<template>
  <div id="app">
    <gilab-packages-test-sample />
  </div>
</template>
